                body {
                display: inline-flex;
                background-color: rgb(165, 40, 138);
            }
            
            div {
                max-width: 550px;
                margin-bottom: 10px;
            }
            
            img {
                width: 100%
            }
            
            #container max-width: 550px;
            margin:0auto;
            article {
                margin-bottom: 45px;
                border: 1px solid;